$primary-color-dark: #455A64;
$primary-color: #607D8B;
$primary-color-light: #CFD8DC;
$primary-color-text: #FFFFFF;
$accent-color: #9ccc65;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

@mixin full-size {
  width: 100%;
  height: 100%;
}
@mixin zero-pos {
  top: 0;
  left: 0;
}

@mixin abs-full-zero {
  position: absolute;
  @include zero-pos;
  @include full-size;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: $primary-color-text;
  font-family: Coda, sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

nav {
  width: 100%;
  padding: 10px 16px;
  background-color: $primary-color-dark;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.brand {
  font-size: 1.8em;
  font-variant: small-caps;
  flex-shrink: 0;
}

.brand>small {
  font-size: 0.5em;
  font-style: oblique;
}

#menu-check {
  display: none;
}

.burger {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
}

.burger:hover {
  color: $primary-color-light;
}

.burger:after,
.burger:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 25%;
  left: 20%;
  border-style: solid;
  transition: all 250ms ease;
}

.burger:after {
  top: 27%;
  border-width: 2px 0 2px 0;
}

.burger:before {
  bottom: 27%;
  border-width: 0 0 2px 0;
}

#menu-check:checked ~ .menu {
  display: flex;
}

#menu-check:checked ~ .burger:after {
  transform: rotate(45deg);
  border-width: 2px 0 0 0;
  left: 14%;
  top: 45%;
}

#menu-check:checked ~ .burger:before {
  transform: rotate(-45deg);
  left: 14%;
  bottom: 45%;
}

.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.menu>li {
  list-style: none;
  width: 100%;
}

.btn {
  display: block;
  color: $primary-text-color;
  background-color: $primary-color-light;
  text-decoration: none;
  padding: 4px 16px;
  margin: 1px;
  transition: all 200ms ease;
}

.btn:hover {
  background-color: $primary-text-color;
  color: $primary-color-light;
}

.main {
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: 100px;
  display: flex;
  background-color: $accent-color;
}
.container:nth-child(2n){
  background-color: transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.home {
  text-align: center;
  flex-direction: column;
  padding-top: 200px;
  h1 {
    font-size: 4em;
  }
  h3 {
    font-size: 2em;
    color: $secondary-text-color;
    font-variant: small-caps;
  }
  .quote {
    color: $secondary-text-color;
    text-decoration: oblique;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.btn-social {
  color: $primary-color-text;
  font-size: 1.2em;
  padding: 4px;
  &:hover {
    color: $secondary-text-color;
  }
}

.about {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  .profile-pic {
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-radius: 200px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    img {
      height: 100%;
    }
  }
  .profile-info {
    flex-base: 50%;
    width: 400px;
    padding: 10px 20px;
    h3 {
      font-size: 2em;
    }
    p{
      font-size: 1.2em;
      padding: 4px;
    }
    a{
      color: $primary-text-color;
      text-decoration: none;
      &:hover{
        color: $primary-color-text;
        background-color: $accent-color;
      }
    }
  }
}

.portfolio {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  h1, h2{
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
  }
  h2{
    font-style: italic;
    color: $secondary-text-color;
  }
}

.portfolio-item {
  position: relative;
  min-width: 250px;
  max-width: 400px;
  flex-basis: 30%;
  flex-grow: 1;
  padding: 1px;
  margin: 2px;
  border: 2px solid;
  .figure {
    position: relative;
    @include full-size;
    img {
      width: 100%;
    }
    &:hover {
        &:before {
          width: 0%;
          left: 100%;
        }
        &:after {
          width: 0%;
          left: 0%;
        }
      }
      &:before,&:after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0%;
        background-color: rgba($primary-color-dark, 0.5);
        
        transition: width 550ms ease, left 650ms ease;
      }
      &:after{
        left: 50%;
      }
      &:before{
        left: 0%;
      }
    .caption {
      @include abs-full-zero;
      text-align: center;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &:hover{
        &:before{
          top: 30%;
          height: 40%;
          background-color: rgba($primary-color-dark, 0.9);
        }
        p{
          opacity: 1;
          visibility: visible;
          letter-spacing: 0;
        }
      }
      &:before{
        content:"";
        @include abs-full-zero;
        background-color: rgba($primary-color-dark, 0.5);
        z-index: -1;
        transition: all 550ms ease;
      }
      h3 {
        font-size: 1.8em;
      }
      p {
        opacity: 0;
        letter-spacing: 10px;
        white-space: nowrap;
        visibility: hidden;
        transition: all 550ms ease;
      }
      a {
        @include abs-full-zero;
      }
    }
  }
}
.contact{
   flex-direction: column;
   align-items: flex-start;
  .social{
    
    .btn-social{
      &:hover{
        color: $accent-color;
      }
    }
  }
}
@media only screen and (min-width: 700px) {
  .burger {
    display: none;
  }
  .menu {
    width: auto;
    flex-direction: row;
  }
  .menu {
    display: flex;
  }
}
